In [1]:
import pandas as pd 
import pickle

In [2]:

df = pd.read_csv('./Data for Machine Learning.csv')

del df['Unnamed: 0']

df.to_csv("./Data for Machine Learning_final.csv", index = True)

In [3]:
del df['Unnamed: 0.1']
del df['Unnamed: 0.2']
df.to_csv("./Data for Machine Learning_final.csv", index = True)

In [4]:
#change district column names
districts_names = {'district_Tournai': 'Tournai', 
             'district_Brugge': 'Brugge', 
             'district_Veurne': 'Veurne', 
             'district_Mechelen': 'Mechelen', 
             'district_Antwerp': 'Antwerp', 
             'district_Ieper':'Ieper', 
             'district_Mons': 'Mons', 
             'district_Philippeville': 'Philippeville', 
             'district_Brussels': 'Brussels', 
             'district_Soignies': 'Soignies', 
             'district_Charleroi': 'Charleroi', 
             'district_Leuven': 'Leuven', 
             'district_Liège': 'Liège', 
             'district_Aalst': 'Aalst', 
             'district_Sint-Niklaas':'Sint-Niklaas', 
             'district_Verviers': 'Verviers', 
             'district_Marche-en-Famenne': 'Marche-en-Famenne', 
             'district_Kortrijk': 'Kortrijk', 
             'district_Gent': 'Gent', 
             'district_Eeklo': 'Eeklo', 
             'district_Hasselt':'Hasselt', 
             'district_Nivelles': 'Nivelles', 
             'district_Diksmuide': 'Diksmuide', 
             'district_Dendermonde': 'Dendermonde', 
             'district_Huy':'Huy', 
             'district_Tongeren': 'Tongeren', 
             'district_Dinant': 'Dinant', 
             'district_Neufchâteau': 'Neufchâteau', 
             'district_Halle-Vilvoorde': 'Halle-Vilvoorde', 
             'district_Tielt': 'Tielt', 
             'district_Roeselare': 'Roeselare', 
             'district_Namur': 'Namur', 
             'district_Oostend': 'Oostend', 
             'district_Oudenaarde':'Oudenaarde', 
             'district_Thuin': 'Thuin', 
             'district_Arlon': 'Arlon', 
             'district_Turnhout': 'Turnhout', 
             'district_Ath': 'Ath', 
             'district_Maaseik': 'Maaseik', 
             'district_Virton': 'Virton', 
             'district_Bastogne': 'Bastogne', 
             'district_Mouscron': 'Mouscron', 
             'district_Waremme': 'Waremme', 
             'district_Bruge': 'Bruge'}


df = df.rename(columns=districts_names)
df.to_csv("./Data for Machine Learning_final.csv", index = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104442 entries, 0 to 104441
Data columns (total 58 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   bathroom_count               96305 non-null   float64
 1   bedroom_count                96305 non-null   float64
 2   construction_year            96305 non-null   float64
 3   garden                       96305 non-null   float64
 4   living_area                  96305 non-null   float64
 5   number_of_facades            96305 non-null   float64
 6   room_count                   96305 non-null   float64
 7   surface_of_plot              96305 non-null   float64
 8   swimming_pool                96305 non-null   float64
 9   PEB_grade                    96305 non-null   float64
 10  Building_state_grade         96305 non-null   float64
 11  price                        96305 non-null   float64
 12  type_of_property_appartment  96305 non-null   float64
 13  type_of_property_house       96305 non-null   float64
 14  Aalst                        103886 non-null  float64
 15  Antwerp                      103886 non-null  float64
 16  Arlon                        103886 non-null  float64
 17  Ath                          103886 non-null  float64
 18  Bastogne                     103886 non-null  float64
 19  Bruge                        103886 non-null  float64
 20  Brugge                       103886 non-null  float64
 21  Brussels                     103886 non-null  float64
 22  Charleroi                    103886 non-null  float64
 23  Dendermonde                  103886 non-null  float64
 24  Diksmuide                    103886 non-null  float64
 25  Dinant                       103886 non-null  float64
 26  Eeklo                        103886 non-null  float64
 27  Gent                         103886 non-null  float64
 28  Halle-Vilvoorde              103886 non-null  float64
 29  Hasselt                      103886 non-null  float64
 30  Huy                          103886 non-null  float64
 31  Ieper                        103886 non-null  float64
 32  Kortrijk                     103886 non-null  float64
 33  Leuven                       103886 non-null  float64
 34  Liège                        103886 non-null  float64
 35  Maaseik                      103886 non-null  float64
 36  Marche-en-Famenne            103886 non-null  float64
 37  Mechelen                     103886 non-null  float64
 38  Mons                         103886 non-null  float64
 39  Mouscron                     103886 non-null  float64
 40  Namur                        103886 non-null  float64
 41  Neufchâteau                  103886 non-null  float64
 42  Nivelles                     103886 non-null  float64
 43  Oostend                      103886 non-null  float64
 44  Oudenaarde                   103886 non-null  float64
 45  Philippeville                103886 non-null  float64
 46  Roeselare                    103886 non-null  float64
 47  Sint-Niklaas                 103886 non-null  float64
 48  Soignies                     103886 non-null  float64
 49  Thuin                        103886 non-null  float64
 50  Tielt                        103886 non-null  float64
 51  Tongeren                     103886 non-null  float64
 52  Tournai                      103886 non-null  float64
 53  Turnhout                     103886 non-null  float64
 54  Verviers                     103886 non-null  float64
 55  Veurne                       103886 non-null  float64
 56  Virton                       103886 non-null  float64
 57  Waremme                      103886 non-null  float64
dtypes: float64(58)
memory usage: 46.2 MB

In [6]:
df = df.drop_duplicates()

In [7]:
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87688 entries, 0 to 88723
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   bathroom_count               87688 non-null  float64
 1   bedroom_count                87688 non-null  float64
 2   construction_year            87688 non-null  float64
 3   garden                       87688 non-null  float64
 4   living_area                  87688 non-null  float64
 5   number_of_facades            87688 non-null  float64
 6   room_count                   87688 non-null  float64
 7   surface_of_plot              87688 non-null  float64
 8   swimming_pool                87688 non-null  float64
 9   PEB_grade                    87688 non-null  float64
 10  Building_state_grade         87688 non-null  float64
 11  price                        87688 non-null  float64
 12  type_of_property_appartment  87688 non-null  float64
 13  type_of_property_house       87688 non-null  float64
 14  Aalst                        87688 non-null  float64
 15  Antwerp                      87688 non-null  float64
 16  Arlon                        87688 non-null  float64
 17  Ath                          87688 non-null  float64
 18  Bastogne                     87688 non-null  float64
 19  Bruge                        87688 non-null  float64
 20  Brugge                       87688 non-null  float64
 21  Brussels                     87688 non-null  float64
 22  Charleroi                    87688 non-null  float64
 23  Dendermonde                  87688 non-null  float64
 24  Diksmuide                    87688 non-null  float64
 25  Dinant                       87688 non-null  float64
 26  Eeklo                        87688 non-null  float64
 27  Gent                         87688 non-null  float64
 28  Halle-Vilvoorde              87688 non-null  float64
 29  Hasselt                      87688 non-null  float64
 30  Huy                          87688 non-null  float64
 31  Ieper                        87688 non-null  float64
 32  Kortrijk                     87688 non-null  float64
 33  Leuven                       87688 non-null  float64
 34  Liège                        87688 non-null  float64
 35  Maaseik                      87688 non-null  float64
 36  Marche-en-Famenne            87688 non-null  float64
 37  Mechelen                     87688 non-null  float64
 38  Mons                         87688 non-null  float64
 39  Mouscron                     87688 non-null  float64
 40  Namur                        87688 non-null  float64
 41  Neufchâteau                  87688 non-null  float64
 42  Nivelles                     87688 non-null  float64
 43  Oostend                      87688 non-null  float64
 44  Oudenaarde                   87688 non-null  float64
 45  Philippeville                87688 non-null  float64
 46  Roeselare                    87688 non-null  float64
 47  Sint-Niklaas                 87688 non-null  float64
 48  Soignies                     87688 non-null  float64
 49  Thuin                        87688 non-null  float64
 50  Tielt                        87688 non-null  float64
 51  Tongeren                     87688 non-null  float64
 52  Tournai                      87688 non-null  float64
 53  Turnhout                     87688 non-null  float64
 54  Verviers                     87688 non-null  float64
 55  Veurne                       87688 non-null  float64
 56  Virton                       87688 non-null  float64
 57  Waremme                      87688 non-null  float64
dtypes: float64(58)
memory usage: 39.5 MB

In [9]:
df.to_csv("./Data for Machine Learning_final.csv", index = True)

In [10]:
df = pd.read_csv('./Data for Machine Learning_final.csv')

In [11]:
df.isnull().sum()

Unnamed: 0                     0
bathroom_count                 0
bedroom_count                  0
construction_year              0
garden                         0
living_area                    0
number_of_facades              0
room_count                     0
surface_of_plot                0
swimming_pool                  0
PEB_grade                      0
Building_state_grade           0
price                          0
type_of_property_appartment    0
type_of_property_house         0
Aalst                          0
Antwerp                        0
Arlon                          0
Ath                            0
Bastogne                       0
Bruge                          0
Brugge                         0
Brussels                       0
Charleroi                      0
Dendermonde                    0
Diksmuide                      0
Dinant                         0
Eeklo                          0
Gent                           0
Halle-Vilvoorde                0
Hasselt                        0
Huy                            0
Ieper                          0
Kortrijk                       0
Leuven                         0
Liège                          0
Maaseik                        0
Marche-en-Famenne              0
Mechelen                       0
Mons                           0
Mouscron                       0
Namur                          0
Neufchâteau                    0
Nivelles                       0
Oostend                        0
Oudenaarde                     0
Philippeville                  0
Roeselare                      0
Sint-Niklaas                   0
Soignies                       0
Thuin                          0
Tielt                          0
Tongeren                       0
Tournai                        0
Turnhout                       0
Verviers                       0
Veurne                         0
Virton                         0
Waremme                        0
dtype: int64